<div class="col-4 offset-4 mt-5 square">
	<div class="text-center">
		<img alt="logo" src="assets/logo.png">
	</div>
	<h2 class="text-center mt-5">Login</h2>
	<form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="login()">
		<div class="form-group mt-3">
			<input type="text" class="form-control" name="username"
				placeholder="User Name" [(ngModel)]="user.username" required>
		</div>
		<div class="form-group mt-3">
			<input type="password" class="form-control" name="password"
				placeholder="Password" [(ngModel)]="user.password" required>
		</div>
		<div class="form-group mt-3">
			<div class="text-center">
				<button type="submit" class="btn btn-primary">Iniciar
					Sesión</button>
			</div>
		</div>
	</form>
</div>